.container{
  width: 600px;
  height: 500px;
  background-color: darkgrey;
  overflow-y: scroll;
}

.topTitle{
  text-align: center;
  padding-top: 15px;
}

.inputContainer{
  width: 300px;
  height: 150px;
  background-color: darkred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.title{
  width : 70%;
  padding: 7px;
  border: none;
  margin: 0 auto;
  outline: none;
}

.desc{
  width : 70%;
  padding: 7px;
  border: none;
  margin: 0 auto;
  outline: none;
}

.add{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 60px;
  height: 30px;
  border: none;
  background-color: rgb(117, 92, 207);
  color: white;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 200px;
  height: 200px;
  background-color: floralwhite;
  margin: 20px 30px;
  text-align: center;
}
